@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
body{font-family:'微软雅黑',Helvetica, Arial, sans-serif; font-size:12px; background:#fff; overflow-y:hidden;}
.cb{clear:both;}
img{border:none;}
ul{list-style:none;}
/* 头部 */
.top{height:30px; position:relative; z-index:1; background:#2F96B4; letter-spacing:1px;color:#fff;}
.top a{font-weight:bold; font-size:12px; color:#fff; text-decoration:none;}
.top_name,.exit{ float:right; padding-right:15px;line-height:30px; }
/* 内容 */
.content{padding-top:30px; }
.middle,.right{ position:absolute; top:0; right:0px; bottom:0px; }
/* 左边 */
.note_class:hover,.note_list:hover{background:#eff1ef;}
.left_folder {width:180px; left:0px; border-right:1px solid #B3B3B3;border-left:1px solid #B3B3B3; margin-top:0px;}
.folder{border-bottom:1px solid #B3B3B3; line-height:29px;padding-left:10px;cursor:pointer;}
.folder:hover{background:#e2f2f8;}
.this,.this:hover{background:#e2f2f8;}
.middle{width:360px;left:180px; border-right:1px solid #B3B3B3; border-left:1px solid #B3B3B3; margin-top:30px;}
.middle h3{font-size: inherit;margin: 0px 0;border-bottom:1px solid #B3B3B3; line-height:29px;padding-left:10px;}
.pages_list{position: absolute;z-index: 256; left:440px; bottom:10px;}
.float_right{float:right;margin:3px 10px;}
.float_left{float:left;margin:3px 10px;}
.note_list_all{overflow-y:auto; position:absolute; right:0; top:30px; bottom:0;left:0;}
.note_list{padding:10px; cursor:pointer; border-bottom:1px solid #cfcece; }
.note_list h2{font-size:14px;line-height: 2;margin: 0px 0;}
.note_list p{height:30px; overflow:hidden;}
.this,.this:hover{background:#e2f2f8;}
/* 右边 */
.right{left:540px;  margin-top:30px;}
.edit{ padding:10px; overflow-y:auto; position:absolute; right:0; top:60px; bottom:0;left:0;}
.button_bar{border-bottom:1px solid #B3B3B3;height:30px;line-height:30px;padding-left:10px;}
.note_title{border-bottom:1px solid #B3B3B3;height:30px;line-height:30px;padding-left:10px;}
